[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
firebase-admin = "*"
django-cors-headers = "*"
gunicorn = "*"
dj-database-url = "*"
python-decouple = "*"

[requires]
python_version = "3.7"
