anchor_for_job_defaults: &job_defaults
  working_directory: /home/circleci/workshops-app-backend
  docker:
      - image: circleci/python:3.6

version: 2
jobs:
  lint-checks:
    <<: *job_defaults
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          name: Running tests
          command: |
            . venv/bin/activate
            pylint --load-plugins pylint_django team workshops workshop authentication

  django-tests:
    <<: *job_defaults
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          name: Running tests
          command: |
            . venv/bin/activate
            python manage.py test


workflows:
  version: 2
  ci_tests:
    jobs:
      - lint-checks
      - django-tests